**/.vscode/

/ROS2swarm/.vscode/
/ROS2swarm/build/
/ROS2swarm/install/
/ROS2swarm/log/

/ros2_ws/build/
/ros2_ws/install/
/ros2_ws/log/
/ros2_ws/src/.vscode/
/ros2_ws/src/remora_description/
/ros2_ws/src/test/
/ros2_ws/src/unity_interface/
/ros2_ws/src/unity_robotics_demo
/ros2_ws/src/unity_robotics_demo_msgs
/ros2_ws/src/ROS-TCP-Endpoint

/unity_sim/.vscode/
/unity_sim/Library/
/unity_sim/Logs/
/unity_sim/Temp/
/unity_sim/UserSettings/
/unity_sim/UIElementsSchema/
/unity_sim/*.csproj
/unity_sim/*.sln
/unity_sim/mono_crash.mem.*